<h1>Edit Comment</h1>
<%= form_tag '/comment_update', method: 'post' do %>
    <input type="hidden" name="id" value="<%=@bd.id%>">
    <textarea name="naeyong"><%=@bd.msg%></textarea>
    <input type="submit">
<% end %>